<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - PhishGuard AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>🛡️ PhishGuard AI</h2>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/training">Training</a>
        <a href="/quiz">Quiz</a>
        <a href="/tips">Tips</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="tips-container">

    <div class="result-card">

        <h1>About PhishGuard AI</h1>

        <p style="margin-top:20px;">
            PhishGuard AI is a Cyber Security Awareness platform designed
            to educate users about phishing attacks, online scams,
            password security, and safe browsing practices.
        </p>

        <p style="margin-top:20px;">
            This project includes interactive learning modules,
            cybersecurity tips, and quizzes to improve security awareness.
        </p>

        <div class="buttons">
            <a href="/" class="btn">Back Home</a>
        </div>

    </div>

</div>

</body>
</html>